# OS
.DS_Store

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Node
node_modules

# In case shell scripts want to be git aliased
.gitconfig

# Nx
.nx/cache
.nx/workspace-data
dist

# Vite (from Nx)
vite.config.*.timestamp*
vitest.config.*.timestamp*