:root {
    /* ====================================
     * Typography
     * ==================================== */
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* ====================================
     * Core Colors
     * ==================================== */
    /* https://www.tints.dev/accent/3E9469 */
    --color-accent-50: #e9f6f0;
    --color-accent-100: #d4ede0;
    --color-accent-200: #a9dbc2;
    --color-accent-300: #81caa6;
    --color-accent-400: #56b887;
    --color-accent-500: #3e9469;
    --color-accent-600: #327754;
    --color-accent-700: #265a40;
    --color-accent-800: #183a29;
    --color-accent-900: #0c1d14;
    --color-accent-950: #060e0a;
    /* https://www.tints.dev/primary/4E7FD2 */
    --color-primary-50: #EFF3FB;
    --color-primary-100: #DAE4F6;
    --color-primary-200: #BACDED;
    --color-primary-300: #95B2E4;
    --color-primary-400: #7198DB;
    --color-primary-500: #4E7FD2;
    --color-primary-600: #2E61B7;
    --color-primary-700: #23498A;
    --color-primary-800: #18315E;
    --color-primary-900: #0B182D;
    --color-primary-950: #060D18;
    /* https://www.tints.dev/secondary/62A6BC */
    --color-secondary-50: #F1F7F9;
    --color-secondary-100: #DFEDF1;
    --color-secondary-200: #BFDAE4;
    --color-secondary-300: #A2CAD7;
    --color-secondary-400: #82B8CA;
    --color-secondary-500: #62A6BC;
    --color-secondary-600: #458AA1;
    --color-secondary-700: #34687A;
    --color-secondary-800: #22434F;
    --color-secondary-900: #112227;
    --color-secondary-950: #091215;
    /* https://www.tints.dev/surface/64748B */
    --color-surface-0: #fff;
    --color-surface-50: #f0f2f4;
    --color-surface-100: #dee2e8;
    --color-surface-200: #c1c8d2;
    --color-surface-300: #a0abbb;
    --color-surface-400: #8291a5;
    --color-surface-500: #64748b;
    --color-surface-600: #515e71;
    --color-surface-700: #3c4553;
    --color-surface-800: #292f38;
    --color-surface-900: #13161b;
    --color-surface-950: #0b0c0f;

    /* ====================================
     * Semantic Colors
     * ==================================== */
    /* https://www.tints.dev/?red=E94949&blue=3B82F6&error=E94949&success=55AE79&info=3B82F6&warn=EBB55A */
    --color-error-50: #F39B9B;
    --color-error-100: #F29292;
    --color-error-200: #F08080;
    --color-error-300: #ED6D6D;
    --color-error-400: #EB5B5B;
    --color-error-500: #E94949;
    --color-error-600: #E52525;
    --color-error-700: #C81818;
    --color-error-800: #A41414;
    --color-error-900: #7F0F0F;
    --color-error-950: #6D0D0D;
    --color-warning-50: #F3D39B;
    --color-warning-100: #F2D196;
    --color-warning-200: #F0C984;
    --color-warning-300: #EEC277;
    --color-warning-400: #EDBC69;
    --color-warning-500: #EBB55A;
    --color-warning-600: #E6A432;
    --color-warning-700: #D18E19;
    --color-warning-800: #A87214;
    --color-warning-900: #845910;
    --color-warning-950: #6D4A0D;
    --color-success-50: #B0D9C0;
    --color-success-100: #A5D4B8;
    --color-success-200: #90CAA8;
    --color-success-300: #7CC097;
    --color-success-400: #6AB88A;
    --color-success-500: #55AE79;
    --color-success-600: #4A9B6B;
    --color-success-700: #3F835A;
    --color-success-800: #356F4C;
    --color-success-900: #2B5A3E;
    --color-success-950: #264F36;
    
    --color-info-50: var(--color-primary-50);
    --color-info-100: var(--color-primary-100);
    --color-info-200: var(--color-primary-200);
    --color-info-300: var(--color-primary-300);
    --color-info-400: var(--color-primary-400);
    --color-info-500: var(--color-primary-500);
    --color-info-600: var(--color-primary-600);
    --color-info-700: var(--color-primary-700);
    --color-info-800: var(--color-primary-800);
    --color-info-900: var(--color-primary-900);
    --color-info-950: var(--color-primary-950);
}